<% include partials/header %>
<div class="container " id="about">
        <div class="my-3 pt-3 my-md-4 pt-md-4">
             <h1 class="display-4">Cyclone</h1>
             <div class="row">
                 <div class="col-md-8">
                     <p class="lead">
                        Location, location, location! This is especially important when we're talking about ocean storms because the location of the storm determines what we call it. For example, if the storm occurs in the Atlantic Ocean and Northeast Pacific, it's called a hurricane. If the exact same type of storm occurs in the Northwest Pacific, this is a typhoon. And if we find those same storms in the South Pacific and Indian Ocean, these are called tropical cyclones.
 
                     </p>
                 </div>
                 <div class="col-md-4">
                     <img class="img-fluid" src='https://bsmedia.business-standard.com/_media/bs/img/article/2017-12/06/full/1512561952-0399.jpg'>
                 </div>
                 <div class="col-4">
                        <iframe width="320" height="250" src="https://www.youtube.com/embed/-NNoMdIUVqQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 
                     
                 </div>
 
                  <div class="col-md-8">
                     <p class="lead">
                       Cyclone refers to any spinning storm that rotates around a low-pressure center. The low-pressure center is also referred to as the 'eye' of the storm, which is well known for being eerily calm compared with the areas under the spinning 'arms' of the storm. You could say that the eye is watching what's going on down below, so it needs a clear path, but the arms are where all the action happens because this is where the storm is throwing out all of its rain and wind.
 
                     </p>
                 </div>
 
                
                 <hr>
 </div>
 
                  
                
 <div class="jumbotron mt-5">
                  <div class="row" >
                 <div class="col-md-8">
                     <h1>Precautions</h1>
                     <p class="lead">
                        <ul>•  Ask your local council if your home is built to cyclone standards.</ul>
                         <ul>• Decide how you will look after your pets and what you will do if you have to leave them behind.</ul>
                         <ul>• Stay tuned to your local ABC station on a battery-powered radio and check the ABC Emergency Twitter and Facebook pages regularly for instructions and updates on the cyclone.</ul>
                         <ul>• Beware the calm eye of the cyclone: stay inside until told it is safe to go outside.</ul>
                         <ul>• Keep your emergency kit close at hand.</ul>
                         <ul>• Stay away from damaged powerlines, fallen trees and flood water.</ul>
                     </p>
                 </div>
                 <div class="col-md-4">
                     <img class="img-fluid" src="https://image.slidesharecdn.com/cyclone-copy-120915085440-phpapp01/95/cyclones-16-728.jpg?cb=1347699370">
       </div>       
    
  </div>
 </div>
 
  
    <iframe width="1110" height="400" src="https://www.youtube.com/embed/43M5mZuzHF8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 
 
 
   <div class="jumbotron mt-5">
                  <div class="row" >
                 <div class="col-md-8">
                     <p class="lead">
                         <h1>Safety Checklist kit</h1>
                        <ul>•  First aid kit (make sure it is fully stocked)</ul>
                        <ul>•  Battery operated charger</ul>
                        <ul>•  Non-perishable food</ul>
                        <ul>•  Utility knife/tool</ul>
                        <ul>•  Bottled water</ul>
                        <ul>•  Personal hygiene items and toiletry supplies</ul>
                        <ul>•  Change of clothing for each family member in waterproof bag</ul>
                        <ul>•  Any special care items</ul>
                     </p>
                 </div>
                 
    
  </div>
  <% if(currentUser){ %>
    <div id="todo">
            <div id="container">
            
                    <h1>TO-DO LIST<i class="fa fa-plus"></i></h1>
                    <input type="text" placeholder="Add New Todo">
                    <ul>
                        <li> <span><i class="fa fa-trash"></i></span> Udemy</li>
                        <li> <span><i class="fa fa-trash"></i></span> Angular</li>
                        <li> <span><i class="fa fa-trash"></i></span> Hologram</li>
                    </ul>
                </div>
    </div>
<%}%>
</div>
  <% include partials/footer %>