<% include partials/header %>
<div class="container " id="about">
        <div class="my-3 pt-3 my-md-4 pt-md-4">
             <h1 class="display-4">Flood</h1>
             <div class="row">
                 <div class="col-md-8">
                     <p class="lead">
                        A flood is an overflow of water that submerges land that is usually dry. In the sense of "flowing water", the word may also be applied to the inflow of the tide.
 Flooding may occur as an overflow of water from water bodies, such as a river, lake, or ocean, in which the water overtops or breaks levees, resulting in some of that water escaping its usual boundaries, or it may occur due to an accumulation of rainwater on saturated ground in an areal flood. While the size of a lake or other body of water will vary with seasonal changes in precipitation and snow melt, these changes in size are unlikely to be considered significant unless they flood property or drown domestic animals
 
                     </p>
                 </div>
                 <div class="col-md-4">
                     <img class="img-fluid" src="http://media.bom.gov.au/social/upload/images/Townsville%20floods_Feb%202019_Australian%20Defence%20Force.jpg">
                 </div>
                 <div class="col-4">
                        <iframe width="320" height="250" src="https://www.youtube.com/embed/T-jEj8Bh5Kc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 
                     
                 </div>
 
                  <div class="col-md-8">
                     <p class="lead">
                       Floods can also occur in rivers when the flow rate exceeds the capacity of the river channel, particularly at bends or meanders in the waterway. Floods often cause damage to homes and businesses if they are in the natural flood plains of rivers. While riverine flood damage can be eliminated by moving away from rivers and other bodies of water, people have traditionally lived and worked by rivers because the land is usually flat and fertile and because rivers provide easy travel and access to commerce and industry.
 
                     </p>
                 </div>
 
                
                 <hr>
 </div>
 
                  
                
 <div class="jumbotron mt-5">
                  <div class="row" >
                 <div class="col-md-8">
                     <h1>Precautions</h1>
                     <p class="lead">
                        <ul>• If you are umder a flood Warning,find safe shelter right away.</ul>
 <ul>• Do not walk, swim, or drive through flood waters. Turn Around, Don’t Drown!</ul>
 <ul>• Just six inches of moving water can knock you down, and one foot of moving water can sweep your vehicle away.</ul>
 <ul>• Stay off of bridges over fast-moving water.</ul>
 <ul>• Listen to EAS, NOAA Weather Radio, or local alerting systems for current emergency information and instructions.</ul>
 <ul>• If trapped in a building, then go to its highest level. Do not climb into a closed attic. You may become trapped by rising floodwater. Go on the roof only if necessary. Once there, signal for help.</ul>
 <ul>• Listen to authorities for information and instructions. Return home only when authorities say it is safe.</ul>
 <ul>• Avoid wading in floodwater, which can contain dangerous debris and be contaminated. Underground or downed power lines can also electrically charge the water.</ul>
 
 
                     </p>
                 </div>
                 <div class="col-md-4">
                     <img class="img-fluid" src="https://safesteps.com/main/wp-content/uploads/2017/02/04_SSND_ENGLISH_FLOOD_SAFETY-CARD.jpg">
       </div>       
    
  </div>
 </div>
 
  
    <iframe width="1110" height="400" src="https://www.youtube.com/embed/43M5mZuzHF8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 
 
 
   <div class="jumbotron mt-5">
                  <div class="row" >
                 <div class="col-md-8">
                     <p class="lead">
                         <h1>Safety Checklist kit</h1>
                         <ul>• 4.2 oz. Emergency water pouches* – 12 per person</ul>
                         <ul>• Emergency blanket – 1 per person</ul>
                         <ul>• Tube tent – 1 per 2 people </ul>
                         <ul>• 12-Hour light sticks* – 2 per person (3 if only 1 person)</ul>
                         <ul>• Emergency candle – 1 and Waterproof matches – 1 box</ul>
                         <ul>• Emergency radio w/batteries* – 1</ul>
                         <ul>• Local Maps></ul>
                         <ul>• Campers tool (Leatherman-type) – 1</ul>
                         <ul>• Toilet Papers and Trash Bags</ul>
                     </p>
                 </div>
                 
    
  </div>
  <% if(currentUser){ %>
    <div id="todo">
            <div id="container">
            
                    <h1>TO-DO LIST<i class="fa fa-plus"></i></h1>
                    <input type="text" placeholder="Add New Todo">
                    <ul>
                        <li> <span><i class="fa fa-trash"></i></span> Udemy</li>
                        <li> <span><i class="fa fa-trash"></i></span> Angular</li>
                        <li> <span><i class="fa fa-trash"></i></span> Hologram</li>
                    </ul>
                </div>
    </div>
<%}%>
</div>
  <% include partials/footer %> 
 