<% include partials/header %> 
<h1 style="text-align: center;">Help to rescue!</h1>


<section class="container-fluid bg">
<section class="row justify-content-center" >
<section class="col-12 col-sm-6 col-md-3">
<form class="form-container">

 
 
  <div class="form-group">
    <label for="exampleInputPassword1">Name of missing person</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="John">
  </div>
 
   <div class="form-group">
   
   <div class="form-group">
    <label for="inputAddress">Location</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-group">
    <label for="inputAddress2">City, State</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Noida, U.P">
  </div>

 

  <div class="form-group">
    <label for="exampleFormControlFile1">Uplaod Photo</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
 
 
  <button type="submit" class="btn btn-primary btn-block">Upload</button>
</form>


</section>
</section>
</section>
<% include partials/foooter %> 
