<% include partials/header %> 
<div class="container " id="about">
        <div class="my-3 pt-3 my-md-4 pt-md-4">
             <h1 class="display-4"> LandSlides/MudSlides</h1>
             <div class="row">
                 <div class="col-md-8">
                     <p class="lead">
                        Landslides are caused by disturbances in the natural stability of a slope. They can accompany heavy rains or follow droughts, earthquakes, or volcanic eruptions. Mudslides develop when water rapidly accumulates in the ground and results in a surge of water-saturated rock, earth, and debris. Mudslides usually start on steep slopes and can be activated by natural disasters. Areas where wildfires or human modification of the land have destroyed vegetation on slopes are particularly vulnerable to landslides during and after heavy rains.
                     </p>
                 </div>
                 <div class="col-md-4">
                     <img class="img-fluid" src="https://pmm.nasa.gov/sites/default/files/imagecache/preview/imageGallery/Landslide_houses.jpg">
                 </div>
                 <div class="col-4">
                        <iframe width="320" height="250" src="https://www.youtube.com/embed/krJLnXpemtQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>"> </iframe>
 
                     
                 </div>
 
                  <div class="col-md-8">
                     <p class="lead">
                       The health hazards associated with landslides and mudflows include:
 <ul>• Rapidly moving water and debris that can lead to trauma</ul>
 <ul>• Broken electrical, water, gas, and sewage lines that can result in injury or illness</ul>
 <ul>• Disrupted roadways and railways that can endanger motorists and disrupt transport and access to health care.</ul>
 
                     </p>
                 </div>
 
                
                 <hr>
 </div>
 
                  
                
 <div class="jumbotron mt-5">
                  <div class="row" >
                 <div class="col-md-8">
                     <h1>Precautions</h1>
                     <h4>Before Intense Storms and Rainfall</h4>
                     <p class="lead">
                        <ul>•  Assume that steep slopes and areas burned by wildfires are vulnerable to landslides and debris flows.</ul>
 <ul>• Contact local authorities about emergency and evacuation plans.</ul>
 <ul>• Contact local authorities about emergency and evacuation plans.</ul>
 <ul>• Develop emergency and evacuation plans for your family and business.</ul>
 <ul>• Avoid river areas and low-lying regions.</ul>
 <h4>During/After Intense Storms and Rainfall</h4>
 <ul>• Listen to the radio or watch TV for warnings about intense rainfall or for information and instructions from local officials.</ul>
 <ul>• Look for tilted trees, telephone poles, fences, or walls, and for new holes or bare spots on hillsides.</ul>
 <ul>• Be alert when driving. Roads may become blocked or closed due to collapsed pavement or debris.</ul>
 
 
                     </p>
                 </div>
                 <div class="col-md-4">
                     <img class="img-fluid" src="http://eschooltoday.com/natural-disasters/landslides/images/prepare-for-mudslide.png">
       </div>       
    
  </div>
 </div>
 
  
    <iframe width="1110" height="400"  src="https://www.youtube.com/embed/bX7z102Kq-Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>"> </iframe>
 
 
 
   <div class="jumbotron mt-5">
                  <div class="row" >
                 <div class="col-md-8">
                     <p class="lead">
                         <h1>Safety Checklist kit</h1>
                         <ul>• Additional Water - 3 Gallons Per Person Prescription Medications and Glasses </ul>
                         <ul>• Infant Formula and Diapers</ul>
                         <ul>• Pet Food and Extra Water for Your Pet </ul>
                         <ul>• Important Documents (Copies of insurance policies, bank records, etc.)</ul>
                         <ul>• First-Aid Book</ul>
                         <ul>• Change of Clothing</ul>
                         <ul>•  Local Maps></ul>
                         <ul>• Mobile Phone and Charger</ul>
                         <ul>• Personal Hygiene Items Paper and Pencil</ul>
                     </p>
                 </div>
                 
    
  </div>
  <% if(currentUser){ %>
    <div id="todo">
            <div id="container">
            
                    <h1>TO-DO LIST<i class="fa fa-plus"></i></h1>
                    <input type="text" placeholder="Add New Todo">
                    <ul>
                        <li> <span><i class="fa fa-trash"></i></span> Udemy</li>
                        <li> <span><i class="fa fa-trash"></i></span> Angular</li>
                        <li> <span><i class="fa fa-trash"></i></span> Hologram</li>
                    </ul>
                </div>
    </div>
<%}%>
</div>
  <% include partials/footer %> 