<% include partials/header %>

<div class="container " id="about">
        <div class="my-3 pt-3 my-md-4 pt-md-4">
             <h1 class="display-4"> NGOs</h1>
             <div class="row">
                 <div class="col-md-8">
                     <p class="lead">
                         <h3 style="font-weight: bold;">Khalsa Aid</h3>
                         <p>Website: https://www.khalsaaid.org/</p>
                        <p>Address- Khalsa Aid International Unit 13, Progress Business Centre,Whittle Parkway, Slough,SL1 6DQ</p>
                        <p>Contact- 0044(0)1753-567-457</p>
                       <p>Mail- info@khalsaaid.org</p>
 About- Khalsa Aid International is a UK-based humanitarian relief charity (Registered Charity Number:
 1163294) providing support around the world to victims of natural and man-made disasters such as
 floods, earthquakes, famine and war.
 Our team is often one of the first on the scene to help distribute food, water, clothing, medical and
 sanitation supplies. We fund and build semi-permanent shelters, if needed – anything that’s required in
 those early days to save lives, reduce people’s immediate suffering and help maintain their dignity.
 The charity was founded by Ravinder (Ravi) Singh, who was struck by the plight of the refugees in
 Kosovo in 1999.
                     </p>
                 </div>
 
                 <hr>
                 <div class="col-md-4">
                    
                 </div>
                
                
 
                  
                 <div class="col-md-8">
                     <p class="lead">
                         <h3 style="font-weight: bold;">International Red Cross</h3>
                         <p>Website: https://www.redcross.org/about-us/our-work/international-
 services/international-disasters-and-crises.html</p>
 <p>Contact-
 Facebook- https://www.facebook.com/redcross
 Twitter- https://twitter.com/redcross
 Address- 19 Avenue de la paix
 1202 Geneva
 Switzerland
 <p>Tel: +41 22 734 60 01</p>
 <p>Facebook- https://www.facebook.com/redcross</p>
 <p>Twitter- https://twitter.com/redcross</p>
 <p>Address- 19 Avenue de la paix
 1202 Geneva
 Switzerland</p>
 <p>About-
 The International Red Cross (IRC) acts as the globe’s largest humanitarian network, delivering instant aid
 with trained disaster responders and relief supplies. By supplying water containers, shelter tools and
 cooking kits, IRC helps 100 million people who are affected by natural disasters every year. To date, IRC
 has also reunited over 9,900 families separated by natural disasters.
 </p> </p></div>
 <div class="col-md-4">
                    
    </div>
                        
                 <div class="col-md-8">
                     <p class="lead">
                        <h3 style="font-weight: bold;"> All Hands and Hearts</h3>
                        <p>Address- All Hands and Hearts – Smart Response Main Office:
 6 County Road, Suite 6 Mattapoisett, MA 02739
 </p>
 <p>Contact - 508-758-8211</p>
 <p>Facebook- https://www.facebook.com/AllHandsAndHearts/</p>
 <p>About- All Hands and Hearts is one of the world’s leading disaster relief nonprofits. After All Hands
 and Happy Hearts merged into one group, they began working nationally and internationally to provide
 disaster relief. The group created the “Smart Response” method to acknowledge the immediate and long-
 term effects of natural disasters. Over 35,000 volunteers act as first responders to rebuild disaster-
 resilient homes and schools for affected communities.</p>
  </p></div>
                
                 <div class="col-md-4">
                    
                 </div>
 
 
                 
 
                
                 <div class="col-md-8">
                     <p class="lead">
                      <h3 style="font-weight: bold;"> Doctors without Borders</h3>
                       <p>Address- USA Headquarters40 Rector St., 16th Floor
 New York, NY  10006</p>
 <p>Contact- 212.679.6800</p>
 <p>Facebook- https://www.facebook.com/msf.english</p>
 <p>Twitter- https://twitter.com/MSF_USA</p>
 <p>About- Médecins Sans Frontières/Doctors Without Borders (MSF) provides emergency response
 medical aid to communities affected by natural disasters, epidemics and conflict. Following the 2010
 earthquake in Haiti, MSF began treating those injured within minutes. MSF offers long-term care to
 affected populations and distributes medical disaster kits to countries even before they arrive on the
 ground.</p>
 
                          </p></div>
                          <div class="col-md-4">
                    
                            </div>
                          </div>
                          <% include partials/footer %> 